
name: run.yml
on:
  workflow_dispatch:
  # Run every 3 hours at 15 minutes past the hour
  schedule:
  - cron: '15 0/3 * * *'

permissions: read-all

jobs:
  cran-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Fetch latest data
      run: Rscript /app/scrape.R

    - run: |
        git config --global --add safe.directory /__w/available-work/available-work

    - name: Create commit message
      id: commit_message_step
      run: |
        echo "commit_message=https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> $GITHUB_OUTPUT

    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: ${{ steps.commit_message_step.outputs.commit_message }}
