# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '15 1/4 * * *'

name: scrape

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - uses: r-lib/actions/setup-r@v2

    - uses: r-lib/actions/setup-r-dependencies@v2

    - name: Fetch latest data
      run: Rscript scrape.R

    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Update with latest data
